*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
body{
    background-color: #35374B;
    color:#fff;
}
header nav {
    background: #070F2B;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

header nav h1{
    font-size:26px;
    font-weight:700;
    letter-spacing: 1px;
    text-transform:uppercase;
    flex:1;
}
header nav form{
    display:flex;
    justify-content: center;
}
form input[type="text"]{
    flex-grow: 1;
    margin-right: 10px;
}
form input[type="text"],button[type="submit"]{
   border:none;
   font-size:18px;
   padding:10px;
   border-radius:4px;
}
form button[type="submit"]{
    background-color: #344955;
    color:#fff;
    cursor:pointer;
    transition:background-color 0.2s ease-in-out;
}
form button[type="submit"]:hover,.recipe button:hover,.recipe-closebtn:hover {
    background-color: #50727B;
}
.recipecontainer{
    text-align: center;
    margin-top:20px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    width:80%;
    margin:10px auto ;
    padding:20px;
    place-items:center;

}
.recipe{
    display:flex;
    flex-direction: column;
    background-color: #fff;
    color:#000;
    box-shadow:0 5px 10px rgba(78,73,73,0.1), -5px -5px 10px rgba(34,34,34,0.5);
    border-radius: 6px;
    cursor:pointer;
    max-width:350px;
    transition:transform 0.3s ease-in-out;
}
.recipe:hover{
    transform: scale(1.02);
}
.recipe img{
    height: 300px;
}
.recipe h3{
    font-size:24px;
    margin-block: 5px;
}
.recipe p {
font-size:20px;
color:#4a4a4a;
margin:5px 0;
}
.recipe span{
    font-weight: 600;
}
.recipe button{
    font-size:20px;
    font-weight: 600;
    padding: 10px;
    border-radius:5px;
    border:none;
    cursor:pointer;
    margin:18px auto;
    background-color:#344955;
    color:#fff;
}
.recipedetails {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: #35374B;
    border-radius: 12px; 
    width: 40%;
    height: 60%;
    font-size: 20px;
    transition:all 0.5s ease-in-out;
    overflow-y: scroll;
}
.recipedetails::-webkit-scrollbar{
    width:10px;
}
.recipedetails::-webkit-scrollbar-thumb{
    background:#b5b5ba;
    border-radius: 16px;
    --webkit-border-radius:16px;
}
.body::-webkit-scrollbar{
    width:16px;
}
.body::-webkit-scrollbar-thumb{
    background:#a1a1a1;
 
}
.body::-webkit-scrollbar-track{
    background: #ebebeb;
}
.recipe-details-content{
    padding:30px;
    word-wrap: break-word;
}
.recipename{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;

    
}
.ingredientlist li{
    margin-top: 10px;
    margin-left:20px;
}
.recipeinstructions p{
    line-height: 30px;
    white-space: pre-line;
}
.recipename,.ingredientlist li,.recipeinstructions p{
    margin-bottom: 20px;
}
.recipe-closebtn{
    border:none; 
    font-size:18px;
    padding:8px;
    border-radius:4px;
    background-color: #78A083;
    color:#fff;
    position:absolute;
    top:5px;
    right:5px;
     height:30px; 
    width:30px;
    display:flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width:600px) {
    header nav{
        flex-direction:column;
    }
    header nav form{
        width: 80%;
        margin-top: 20px;
    }
    .recipe-details {
     width: 60%;
        height: auto; 
    }
    
    .recipe-closebtn {
        font-size: 15px;
        height: 25px;
        width: 25px;
        top: 5px;
        right: 5px;
    }
      .recipe-details-content {
            padding: 10px;
        }
    
        .recipe-details-content h3 {
            font-size: 18px;
        }
    
        .recipe-details-content ul {
            padding-left: 20px;
        }
    
        .recipe-details-content li {
            font-size: 16px;
        }
    
        .recipe-details-content p {
            font-size: 16px;
        }
        .recipename {
            font-size: 18px; 
            margin-bottom: 10px; 
        }
        
        .recipe-closebtn {
            top: 1px; 
            right: -1px; 
            font-size: 15px;
            padding: 6px; 
            height: 20px; 
            width: 20px; 
        }
}